pre-processing

In [3]:
import pandas as pd

df = pd.read_csv("/workspaces/projectsummer/project csv.csv", header = None)
df.head(4)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,NaN,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30,...,2017-03-31,2016-12-31,2016-09-30,2016-06-30,2016-03-31,2015-12-31,2015-09-30,2015-06-30,2015-03-31,2014-12-31
1,报告期,三季报,中报,一季报,年报,三季报,中报,一季报,年报,三季报,...,一季报,年报,三季报,中报,一季报,年报,三季报,中报,一季报,年报
2,报表类型,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,...,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表,合并报表
3,营业收入,"7,198,300","4,680,100","2,130,100","9,677,300","7,160,600","4,825,600","2,332,900","8,146,200","5,714,400",...,"269,627","700,013","471,550","241,707","114,705","404,603","283,165","189,486","93,988","319,836"

In [11]:
df.info

<bound method DataFrame.info of                          0           1           2           3           4   \
0                       NaN  2024-09-30  2024-06-30  2024-03-31  2023-12-31
1                       报告期         三季报          中报         一季报          年报
2                      报表类型        合并报表        合并报表        合并报表        合并报表
3                      营业收入   7,198,300   4,680,100   2,130,100   9,677,300
4                        产品   7,198,300   4,680,100   2,130,100   9,677,300
..                      ...         ...         ...         ...         ...
61                     其他地区         NaN         NaN         NaN         NaN
62              2014年之前地区分类         NaN         NaN         NaN         NaN
63                      NaN         NaN         NaN         NaN         NaN
64                      NaN         NaN         NaN         NaN         NaN
65                      NaN         NaN         NaN         NaN         NaN

            5           6           7           8           9   ...  \
0   2023-09-30  2023-06-30  2023-03-31  2022-12-31  2022-09-30  ...
1          三季报          中报         一季报          年报         三季报  ...
2         合并报表        合并报表        合并报表        合并报表        合并报表  ...
3    7,160,600   4,825,600   2,332,900   8,146,200   5,714,400  ...
4    7,160,600   4,825,600   2,332,900   8,146,200   5,714,400  ...
..         ...         ...         ...         ...         ...  ...
61         NaN         NaN         NaN         NaN         NaN  ...
62         NaN         NaN         NaN         NaN         NaN  ...
63         NaN         NaN         NaN         NaN         NaN  ...
64         NaN         NaN         NaN         NaN         NaN  ...
65         NaN         NaN         NaN         NaN         NaN  ...

            31          32          33          34          35          36  \
0   2017-03-31  2016-12-31  2016-09-30  2016-06-30  2016-03-31  2015-12-31
1          一季报          年报         三季报          中报         一季报          年报
2         合并报表        合并报表        合并报表        合并报表        合并报表        合并报表
3      269,627     700,013     471,550     241,707     114,705     404,603
4      269,627     700,013     471,550     241,707     114,705     404,603
..         ...         ...         ...         ...         ...         ...
61         NaN         NaN         NaN         NaN         NaN         NaN
62         NaN         NaN         NaN         NaN         NaN         NaN
63         NaN         NaN         NaN         NaN         NaN         NaN
64         NaN         NaN         NaN         NaN         NaN         NaN
65         NaN         NaN         NaN         NaN         NaN         NaN

            37          38          39          40
0   2015-09-30  2015-06-30  2015-03-31  2014-12-31
1          三季报          中报         一季报          年报
2         合并报表        合并报表        合并报表        合并报表
3      283,165     189,486      93,988     319,836
4      283,165     189,486      93,988     319,836
..         ...         ...         ...         ...
61         NaN         NaN         NaN         NaN
62         NaN         NaN         NaN         NaN
63         NaN         NaN         NaN         NaN
64         NaN         NaN         NaN         NaN
65         NaN         NaN         NaN         NaN

[66 rows x 41 columns]>

In [10]:
null_count = df.isna().count()
null_count

0     66
1     66
2     66
3     66
4     66
5     66
6     66
7     66
8     66
9     66
10    66
11    66
12    66
13    66
14    66
15    66
16    66
17    66
18    66
19    66
20    66
21    66
22    66
23    66
24    66
25    66
26    66
27    66
28    66
29    66
30    66
31    66
32    66
33    66
34    66
35    66
36    66
37    66
38    66
39    66
40    66
dtype: int64

In [5]:
rows = df.iloc[[3, 18]]

print(rows)

          0          1          2          3          4          5   \
3       营业收入  7,198,300  4,680,100  2,130,100  9,677,300  7,160,600
18      营业成本  5,871,200  3,852,700  1,760,500  7,911,300  5,838,400

           6          7          8          9   ...       31       32  \
3   4,825,600  2,332,900  8,146,200  5,714,400  ...  269,627  700,013
18  3,921,200  1,881,800  6,060,900  4,206,800  ...  202,832  540,088

         33       34       35       36       37       38      39       40
3   471,550  241,707  114,705  404,603  283,165  189,486  93,988  319,836
18  355,152  188,982   89,458  312,252  212,671  142,141  67,981  231,669

[2 rows x 41 columns]

In [6]:
!pip install statsmodels

Requirement already satisfied: statsmodels in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (2.2.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /home/codespace/.local/lib/python3.12/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [8]:
import statsmodels.api as sm
# Take raw 4 and 19
Y_raw = df.iloc[3][1:]
X_raw = df.iloc[18][1:]

# replace ',' to ''
Y = Y_raw.str.replace(',', '').astype(float)
X = X_raw.str.replace(',', '').astype(float)

# delet NaN
mask = (~X.isna()) & (~Y.isna())
X = X[mask]
Y = Y[mask]

#  add constant
X = sm.add_constant(X)

# model
model = sm.OLS(Y, X).fit()

# Output regression coefficient and R^2
coefficients = model.params
intercept = coefficients.loc['const']      
slope = coefficients.loc[X.columns[1]]      

r_squared = model.rsquared

print(f"regression equation Y = {intercept:.4f} + {slope:.4f} * X")
print(f"R² = {r_squared:.4f}")

regression equation Y = 9734.2464 + 1.2615 * X
R² = 0.9960